<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || current_space.title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Sumatra">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="turbo-cache-control" content="no-preview">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class='<%= class_names('theme-dark' => (session[:theme] == 'dark')) %>'>
    <div class='page-layout <%= class_names('sidebar-expanded' => session[:sidebar_expanded], 'sidebar-collapsed' => !session[:sidebar_expanded]) %> '>
      <%= render 'shared/sidebar' %>
      <div class='main-area'>
        <main>
          <%= turbo_frame_tag :main, target: '_top' do %>
            <%= yield %>
          <% end %>
        </main>
        <footer>
          <span class='small dimmed'>Made by Cuterebro</span>
        </footer>
      </div>
  </body>
</html>
