<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Sumatra" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Sumatra">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <div class='page-layout'>
      <aside class="sidebar">
        <div class='sidebar-header'>
          Sumatra
        </div>
        <div class='sidebar-nav'>
          <div class='sidebar-item'>
            Feed
          </div>
        </div>
        <div class='sidebar-footer'>
          ver 0.0.1
        </div>

      </aside>
      <div class='main-area'>
        <main>
          <%= yield %>
        </main>
        <footer>
          Подвал
        </footer>
      </div>
  </body>
</html>
